<div class="app">
  <div class="app__header">
    <h1>This is the application header</h1>
  </div>
  <div class="app__content">
    <button class="button">
      <span class="button__text">My button</span>
      <span class="button__icon">&nbsp;🚀</span>
    </button>
  </div>
  <div class="app__footer">
    <h1>Input Group with modifier</h1>
    <h2>No modifier</h2>
    <div class="form">
      <label for="myInput1" class="form__label">Label:</label>
      <input type="text" id="myInput1" class="form__input">
      <span class="form__help">
        This is a help text. Could be a warning, too. For different colors you
        should use modifier classes.
      </span>
    </div>

    <h2>Modifier on outer Block</h2>
    <div class="form form--error">
      <label for="myInput2" class="form__label">Label:</label>
      <input type="text" id="myInput2" class="form__input">
      <span class="form__help">
          This is a help text. Could be a warning, too. For different colors you
          should use modifier classes.
      </span>
    </div>

    <h2>Modifier on Element</h2>
    <div class="form">
      <label for="myInput3" class="form__label">Label:</label>
      <input type="text" id="myInput3" class="form__input">
      <span class="form__help form__help--error">
        This is a help text. Could be a warning, too. For different colors you
        should use modifier classes.
      </span>
    </div>
  </div>
</div>
